body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D86487;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 55px 180px 1fr auto;
    gap: 20px;
    min-height: 100vh;
    padding: 30px;
}

/* Alle Boxen */

nav,
header,
main,
aside,
footer {
    border-radius: 15px;
    overflow: hidden;
}

/* Navigation */

nav {
    grid-column: 1 / 3;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #4A202A;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

nav li {
    height: 100%;
}

nav li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 22px;
    text-decoration: none;
    color: white;
    transition: .25s;
}

nav li a:hover:not(.active) {
    background: #F1DFDD;
    color: #4A202A;
}

nav li a.active {
    background: #EEAAC3;
    color: #4A202A;
}

/* Header */

header {
    grid-column: 1 / 3;
    background: #F9DE95;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 4.5rem;
    color: #4A202A;
}

/* Main */

main {
    background: #EEAAC3;
    padding: 35px;
}

/* Sidebar */

aside {
    background: #F6C5D5;
    padding: 35px;
}

/* Footer */

footer {
    grid-column: 1 / 3;
    background: #F9DE95;
    padding: 30px;
}

/* Überschriften */

h2 {
    margin-top: 0;
    color: #4A202A;
    font-size: 2rem;
    border-bottom: 3px solid #4A202A;
    padding-bottom: 10px;
}

/* Text */

p {
    color: #4A202A;
    line-height: 1.7;
    font-size: 1rem;
}